﻿@model IcosExp.ViewModels.ECViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EC</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EC_MODEL" class="control-label"></label>
                <input asp-for="EC_MODEL" class="form-control" id="instModel" />
                <span asp-validation-for="EC_MODEL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EC_SN" class="control-label"></label>
                <input asp-for="EC_SN" class="form-control" />
                <span asp-validation-for="EC_SN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EC_TYPE" class="control-label"></label>
                <select asp-for="EC_TYPE" asp-items=@Model.EcTypes class="form-control">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="EC_TYPE" class="text-danger" onchange="ChangeItems"></span>
            </div>
            <div class="form-group collapse installation">
                <label asp-for="EC_HEIGHT" class="control-label"></label>
                <input asp-for="EC_HEIGHT" class="form-control" />
                <span asp-validation-for="EC_HEIGHT" class="text-danger"></span>
            </div>
            <div class="form-group collapse installation">
                <label asp-for="EC_DATE" class="control-label"></label>
                <input asp-for="EC_DATE" class="form-control" />
                <span asp-validation-for="EC_DATE" class="text-danger"></span>
            </div>
        </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    let prevSelection = '';

    $("#instModel").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '/api/SearchInstrument/search',
                    dataType: "json",
                data: {
                    term: $("#instModel").val(), Extra: BADM_CV_INDEX.INST_MODEL, 
                },
                minLength: 2,   
                success: function (data) {
                    response(data);
                }
             });
        }
    });

        $("#EC_TYPE").on("change", function (e) {
            toggleStyle(prevSelection);
            switch (this.value) {
                case "Installation":
                    $(".installation").removeClass("collapse");
                    
                    break;
            }

            prevSelection = this.value.toLowerCase();
        });

    </script>
    }

