﻿@model IEnumerable<IcosExp.ViewModels.ECViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EC_MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_SN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_HEIGHT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_EASTWARD_DIST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_NORTHWARD_DIST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_SAMPLING_INT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_SA_HEAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_SA_OFFSET_N)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_SA_WIND_FORMAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_SA_GILL_ALIGN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_SA_GILL_PCI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_GA_FLOW_RATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_GA_LICOR_FM_SN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_GA_LICOR_TP_SN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_GA_LICOR_AIU_SN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_GA_CAL_CO2_ZERO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_GA_CAL_CO2_OFFSET)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_GA_CAL_CO2_REF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_GA_CAL_H2O_ZERO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_GA_CAL_TA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_LOGGER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_FILE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_DATE_START)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_DATE_END)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_DATE_UNC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_COMMENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_SA_NORTH_MAGDEC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EC_MODEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_SN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_HEIGHT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_EASTWARD_DIST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_NORTHWARD_DIST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_SAMPLING_INT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_SA_HEAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_SA_OFFSET_N)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_SA_WIND_FORMAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_SA_GILL_ALIGN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_SA_GILL_PCI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_GA_FLOW_RATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_GA_LICOR_FM_SN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_GA_LICOR_TP_SN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_GA_LICOR_AIU_SN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_GA_CAL_CO2_ZERO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_GA_CAL_CO2_OFFSET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_GA_CAL_CO2_REF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_GA_CAL_H2O_ZERO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_GA_CAL_TA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_LOGGER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_FILE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_DATE_START)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_DATE_END)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_DATE_UNC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_COMMENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_SA_NORTH_MAGDEC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
