﻿@model IcosExp.ViewModels.CLIM_AVGViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CLIM_AVGViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAC_YEARS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAC_YEARS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CLIMATE_KOEPPEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLIMATE_KOEPPEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAC_COMMENTS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAC_COMMENTS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAC_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAC_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
