﻿@model IcosExp.ViewModels.CLIM_AVGViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CLIM_AVGViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MAT" class="control-label"></label>
                <input asp-for="MAT" class="form-control" />
                <span asp-validation-for="MAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAP" class="control-label"></label>
                <input asp-for="MAP" class="form-control" />
                <span asp-validation-for="MAP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAR" class="control-label"></label>
                <input asp-for="MAR" class="form-control" />
                <span asp-validation-for="MAR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAC_YEARS" class="control-label"></label>
                <input asp-for="MAC_YEARS" class="form-control" />
                <span asp-validation-for="MAC_YEARS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAS" class="control-label"></label>
                <input asp-for="MAS" class="form-control" />
                <span asp-validation-for="MAS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CLIMATE_KOEPPEN" class="control-label"></label>
                <input asp-for="CLIMATE_KOEPPEN" class="form-control" />
                <span asp-validation-for="CLIMATE_KOEPPEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAC_COMMENTS" class="control-label"></label>
                <input asp-for="MAC_COMMENTS" class="form-control" />
                <span asp-validation-for="MAC_COMMENTS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAC_DATE" class="control-label"></label>
                <input asp-for="MAC_DATE" class="form-control" />
                <span asp-validation-for="MAC_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataStatus" class="control-label"></label>
                <input asp-for="DataStatus" class="form-control" />
                <span asp-validation-for="DataStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
