﻿@model IcosExp.ViewModels.CLIM_AVGViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAC_YEARS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIMATE_KOEPPEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAC_COMMENTS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAC_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if(Model != null) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.MAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MAC_YEARS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MAS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.CLIMATE_KOEPPEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MAC_COMMENTS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MAC_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.DataStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
