﻿@model IcosExp.Models.General.UTC

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UTC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTC_OFFSET)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTC_OFFSET)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTC_OFFSET_DATE_START)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTC_OFFSET_DATE_START)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTC_OFFSET_COMMENT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTC_OFFSET_COMMENT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
