﻿@model IcosExp.Models.General.UTC

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UTC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTC_OFFSET)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTC_OFFSET)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTC_OFFSET_DATE_START)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTC_OFFSET_DATE_START)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTC_OFFSET_COMMENT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTC_OFFSET_COMMENT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
