﻿@model IcosExp.Models.General.UTC

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UTC</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UTC_OFFSET" class="control-label"></label>
                <input asp-for="UTC_OFFSET" class="form-control" />
                <span asp-validation-for="UTC_OFFSET" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UTC_OFFSET_DATE_START" class="control-label"></label>
                <input asp-for="UTC_OFFSET_DATE_START" class="form-control" />
                <span asp-validation-for="UTC_OFFSET_DATE_START" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UTC_OFFSET_COMMENT" class="control-label"></label>
                <input asp-for="UTC_OFFSET_COMMENT" class="form-control" />
                <span asp-validation-for="UTC_OFFSET_COMMENT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataStatus" class="control-label"></label>
                <input asp-for="DataStatus" class="form-control" />
                <span asp-validation-for="DataStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertUserId" class="control-label"></label>
                <input asp-for="InsertUserId" class="form-control" />
                <span asp-validation-for="InsertUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertDate" class="control-label"></label>
                <input asp-for="InsertDate" class="form-control" />
                <span asp-validation-for="InsertDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleteUserId" class="control-label"></label>
                <input asp-for="DeleteUserId" class="form-control" />
                <span asp-validation-for="DeleteUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteId" class="control-label"></label>
                <input asp-for="SiteId" class="form-control" />
                <span asp-validation-for="SiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
