﻿@model IcosExp.ViewModels.LOCATIONViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LOCATIONViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LOCATION_LAT" class="control-label"></label>
                <input asp-for="LOCATION_LAT" class="form-control" />
                <span asp-validation-for="LOCATION_LAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOCATION_LONG" class="control-label"></label>
                <input asp-for="LOCATION_LONG" class="form-control" />
                <span asp-validation-for="LOCATION_LONG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOCATION_ELEV" class="control-label"></label>
                <input asp-for="LOCATION_ELEV" class="form-control" />
                <span asp-validation-for="LOCATION_ELEV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOCATION_DATE" class="control-label"></label>
                <input asp-for="LOCATION_DATE" class="form-control" />
                <span asp-validation-for="LOCATION_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOCATION_COMMENT" class="control-label"></label>
                <input asp-for="LOCATION_COMMENT" class="form-control" />
                <span asp-validation-for="LOCATION_COMMENT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
}
