﻿@model IcosExp.ViewModels.LOCATIONViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LOCATIONViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOCATION_LAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOCATION_LAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOCATION_LONG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOCATION_LONG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOCATION_ELEV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOCATION_ELEV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOCATION_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOCATION_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOCATION_COMMENT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOCATION_COMMENT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
