﻿@model IEnumerable<IcosExp.ViewModels.LOCATIONViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_LAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_LONG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_ELEV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_COMMENT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                bool isValid = item.DataStatus == 0;
                
                <tr class="@(isValid ? "tr-class-ok":"tr-class-invalid")">
                    <td>
                        @Html.DisplayFor(modelItem => item.LOCATION_LAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LOCATION_LONG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LOCATION_ELEV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LOCATION_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LOCATION_COMMENT)
                    </td>
                    <td>
                        @if (isValid)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>  <a asp-action="Details" asp-route-id="@item.Id">Details</a> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        
                    </td>
                </tr>
            }

        }
        else
        {

        }
    </tbody>
</table>
