﻿@model IcosExp.ViewModels.TEAMViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GRP_TEAM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_FIRSTNAME)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_FIRSTNAME)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_LASTNAME)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_LASTNAME)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_TITLE)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_TITLE)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_ROLE)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_ROLE)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_MAIN_EXPERT)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_MAIN_EXPERT)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_PERC_ICOS)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_PERC_ICOS)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_CONTRACT)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_CONTRACT)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_EMAIL)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_EMAIL)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_ORCID)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_ORCID)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_SOCIALMEDIA)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_SOCIALMEDIA)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_PHONE)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_PHONE)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_INSTITUTION)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_INSTITUTION)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_STREET)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_INST_STREET)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_POSTCODE)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_INST_POSTCODE)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_CITY)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_INST_CITY)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_COUNTRY)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_INST_COUNTRY)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_WORKEND)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_WORKEND)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_COMMENT)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_COMMENT)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_DATE)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TEAM_MEMBER_DATE)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
