﻿@model IcosExp.ViewModels.TEAMViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GRP_TEAM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_FIRSTNAME" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_FIRSTNAME" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_FIRSTNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_LASTNAME" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_LASTNAME" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_LASTNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_TITLE" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_TITLE" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_TITLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_ROLE" class="control-label"></label>
                <select asp-for="TEAM_MEMBER_ROLE" asp-items=@Model.TeamRoles>
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="TEAM_MEMBER_ROLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_MAIN_EXPERT" class="control-label"></label>
                <select asp-for="TEAM_MEMBER_MAIN_EXPERT" asp-items=@Model.TeamExpert>
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="TEAM_MEMBER_MAIN_EXPERT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_PERC_ICOS" class="control-label"></label>
                <select asp-for="TEAM_MEMBER_PERC_ICOS" asp-items=@Model.TeamPerc>
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="TEAM_MEMBER_PERC_ICOS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_CONTRACT" class="control-label"></label>
                <select asp-for="TEAM_MEMBER_CONTRACT" asp-items=@Model.TeamContract>
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="TEAM_MEMBER_CONTRACT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_EMAIL" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_EMAIL" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_ORCID" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_ORCID" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_ORCID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_SOCIALMEDIA" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_SOCIALMEDIA" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_SOCIALMEDIA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_PHONE" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_PHONE" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_PHONE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_INSTITUTION" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_INSTITUTION" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_INSTITUTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_INST_STREET" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_INST_STREET" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_INST_STREET" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_INST_POSTCODE" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_INST_POSTCODE" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_INST_POSTCODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_INST_CITY" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_INST_CITY" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_INST_CITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_INST_COUNTRY" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_INST_COUNTRY" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_INST_COUNTRY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_WORKEND" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_WORKEND" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_WORKEND" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_COMMENT" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_COMMENT" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_COMMENT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEAM_MEMBER_DATE" class="control-label"></label>
                <input asp-for="TEAM_MEMBER_DATE" class="form-control" />
                <span asp-validation-for="TEAM_MEMBER_DATE" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
}
