﻿@model IEnumerable<IcosExp.Models.General.TEAM>

@{
    ViewData["Title"] = "Index";
}

<h1>GRP TEAM Home Page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_FIRSTNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_LASTNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_TITLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_ROLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_MAIN_EXPERT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_PERC_ICOS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_CONTRACT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_ORCID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_SOCIALMEDIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_PHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_INSTITUTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_STREET)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_POSTCODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_CITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_COUNTRY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_WORKEND)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_COMMENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_DATE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_FIRSTNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_LASTNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_ROLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_MAIN_EXPERT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_PERC_ICOS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_CONTRACT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_ORCID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_SOCIALMEDIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_PHONE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_INSTITUTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_INST_STREET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_INST_POSTCODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_INST_CITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_INST_COUNTRY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_WORKEND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_COMMENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_DATE)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
